/*-------------------------------------------------------------------
  ===== Table of Contents =====

  * Bootstrap functions
  * Template variables
  * SCSS Compass Functions
  * Boostrap Main SCSS
  * Template mixins
    + Animation Mixins
    + Background Mixins
    + Badge Mixins
    + Button Mixins
    + Miscellaneous Mixins
    + BlockQuote Mixins
    + Cards Mixins
    + Color Functions Mixins
    + Tooltips
    + popovers
  * Core Styles
    + Reset Styles
    + Fonts
    + Functions
    + Backgrounds
    + Typography
    + Miscellaneous
    + Footer
    + Layouts
    + Utilities
    + Demo styles
  * Components
    + Accordions
    + Badges
    + Bootstrap Alerts
    + Boostrap Progress
    + Buttons
    + Breadcrumbs
    + Cards
    + Checkboxes and Radios
    + Dropdowns
    + Forms
    + Google maps
    + Icons
    + Loaders
    + Lists
    + Modals
    + Pagination
    + Popover
    + Preview
    + Tables
    + Tabs
    + Timeline
    + Todo List
    + Tooltips
    + User Profile
    + Pricing table
  * Email
    + Mail Sidebar
    + Mail List Container
    + Message Content
  * Plugin Overrides
    + Ace Editor
    + Avgrund Popup
    + Bootstrap Tour
    + Chartist
    + CodeMirror
    + Colcade
    + Colorpicker
    + Context Menu
    + Data Tables
    + Datepicker
    + Dropify
    + Dropzone
    + Flot chart
    + Full Calendar
    + Google Charts
    + Icheck
    + Jquery File Upload
    + Js-grid
    + Jvectormap
    + Light Gallery
    + Listify
    + No-ui-slider
    + Owl-carousel
    + Progressbar-js
    + Pws-tabs
    + Quill Editor
    + Rating
    + Select2
    + Summernote Editor
    + SweetAlert
    + Switchery
    + Tags
    + TinyMCE Editor
    + Toast
    + Typeahead
    + Wysi Editor
    + X-editable
    + Wizard
  * Landing screens
    + Auth
    + Lock Screen
-------------------------------------------------------------------*/

/*-------------------------------------------------------------------*/
/* === Import Bootstrap functions and variables === */
@import "../../../node_modules/bootstrap/scss/functions";
@import "../../../node_modules/bootstrap/scss/variables";

/*-------------------------------------------------------------------*/
/* === Import template variables === */
@import "../dark/variables";
@import './variables';

/*-------------------------------------------------------------------*/
/* === SCSS Compass Functions === */
@import "../../../node_modules/compass-mixins/lib/compass";
@import "../../../node_modules/compass-mixins/lib/animate";

/*-------------------------------------------------------------------*/
/* === Boostrap Main SCSS === */
@import "../../../node_modules/bootstrap/scss/bootstrap";

/*-------------------------------------------------------------------*/
/* === Template mixins === */
@import "../shared/mixins/misc";
@import "../shared/mixins/animation";
@import "../shared/mixins/badges";
@import "../shared/mixins/blockqoute";
@import "../shared/mixins/buttons";
@import "../shared/mixins/breadcrumbs";
@import "../shared/mixins/cards";
@import "../shared/mixins/no-ui-slider";
@import "../shared/mixins/pagination";
@import "../shared/mixins/popovers";
@import "../shared/mixins/tooltips";

/*-------------------------------------------------------------------*/
/* === Core Styles === */
@import "../shared/reset";
@import "../shared/fonts";
@import "../shared/functions";
@import "../shared/typography";
@import "../shared/misc";
@import "../shared/footer";
@import "../shared/utilities";
@import "../shared/demo";

/*-------------------------------------------------------------------*/
/* === Components === */
@import "../shared/components/accordions";
@import "../shared/components/badges";
@import "../shared/components/bootstrap-alerts";
@import "../shared/components/bootstrap-progress";
@import "../shared/components/buttons";
@import "../shared/components/breadcrumbs";
@import "../shared/components/cards";
@import "../shared/components/checkbox-radio";
@import "../shared/components/dropdown";
@import "../shared/components/forms";
@import "../shared/components/google-maps";
@import "../shared/components/icons";
@import "../shared/components/loaders/loaders";
@import "../shared/components/lists";
@import "../shared/components/modals";
@import "../shared/components/pagination";
@import "../shared/components/popover";
@import "../shared/components/preview";
@import "../shared/components/tables";
@import "../shared/components/tabs";
@import "../shared/components/timeline";
@import "../shared/components/todo-list";
@import "../shared/components/tooltips";
@import "../shared/components/user-profile";
@import "../shared/components/pricing-table";
@import "../shared/components/portfolio";

/*-------------------------------------------------------------------*/
/* === Email === */
@import "../shared/components/mail-components/mail-sidebar";
@import "../shared/components/mail-components/mail-list-container";
@import "../shared/components/mail-components/messagecontent";

/*-------------------------------------------------------------------*/
/* === Plugin overrides === */
@import "../dark/components/plugin-overrides/ace";
@import "../dark/components/plugin-overrides/avgrund";
@import "../dark/components/plugin-overrides/chartist";
@import "../dark/components/plugin-overrides/codemirror";
@import "../dark/components/plugin-overrides/colcade";
@import "../dark/components/plugin-overrides/colorpicker";
@import "../dark/components/plugin-overrides/context-menu";
@import "../dark/components/plugin-overrides/data-tables";
@import "../dark/components/plugin-overrides/datepicker";
@import "../dark/components/plugin-overrides/daterangepicker";
@import "../dark/components/plugin-overrides/dropify";
@import "../dark/components/plugin-overrides/dropzone";
@import "../dark/components/plugin-overrides/flot-chart";
@import "../dark/components/plugin-overrides/full-calendar";
@import "../dark/components/plugin-overrides/google-charts";
@import "../dark/components/plugin-overrides/icheck";
@import "../dark/components/plugin-overrides/jquery-file-upload";
@import "../dark/components/plugin-overrides/js-grid";
@import "../dark/components/plugin-overrides/jvectormap";
@import "../dark/components/plugin-overrides/light-gallery";
@import "../dark/components/plugin-overrides/listify";
@import "../dark/components/plugin-overrides/no-ui-slider";
@import "../dark/components/plugin-overrides/owl-carousel";
@import "../dark/components/plugin-overrides/progressbar-js";
@import "../dark/components/plugin-overrides/pws-tabs";
@import "../dark/components/plugin-overrides/quill";
@import "../dark/components/plugin-overrides/rating";
@import "../dark/components/plugin-overrides/select2";
@import "../dark/components/plugin-overrides/summernote";
@import "../dark/components/plugin-overrides/sweet-alert";
@import "../dark/components/plugin-overrides/switchery";
@import "../dark/components/plugin-overrides/tags";
@import "../dark/components/plugin-overrides/tinymce";
@import "../dark/components/plugin-overrides/toast";
@import "../dark/components/plugin-overrides/typeahead";
@import "../dark/components/plugin-overrides/wysieditor";
@import "../dark/components/plugin-overrides/x-editable";
@import "../dark/components/plugin-overrides/wizard";

/*-------------------------------------------------------------------*/
/* === Landing screens === */
@import "../shared/landing-screens/auth";
@import "../shared/landing-screens/lock-screen";



@import './navbar';
@import './sidebar';
@import './layouts';
@import '../vertical/vertical-wrapper';
@import './dashboard';