$navbar-brand-wrapper-mini-width: 70px;
$menu-break-point: 1020px;
$horizontal-navbar-height: 135px;
$horizontal-top-bg : $black;
$horizontal-top-navbar-height: 70px;
$horizontal-menu-padding: 0 1rem;
$horizontal-menu-height:  57px;
$horizontal-top-menu-item-color: #9c9fa6;
$horizontal-top-menu-icon-color: #626262;
$horizontal-top-font-size: 1rem;
$horizontal-bottom-bg: linear-gradient(to top, #fc5b8e, #f03537);
$horizontal-bottom-menu-item-color: $white;
$horizontal-bottom-menu-dropdown-bg: $content-bg;
$horizontal-bottom-menu-dropdown-item-color: $body-color;
$horizontal-bottom-menu-item-icon-color: $white;
$horizontal-bottom-menu-item-active-color: theme-color(success);
$horizontal-menu-submenu-color: #202339;
$horizontal-bottom-menu-item-font-size: 15px;
$horizontal-bottom-menu-item-hover-bg: transparent;
$horizontal-bottom-menu-item-hover-color: theme-color(success);
$horizontal-menu-item-padding: .75rem 0;
$horizontal-menu-icon-font-size: 1rem;
$horizontal-menu-submenu-item-padding: .85rem 0;
$horizontal-menu-box-shadow: 0 19px 34px -15px $content-bg;